#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.buttons{
  gap: 20px;
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

button{
  height: 30px;
  width: 70px;
  background-color: rgb(0, 0, 0);
  border: 2px solid white;
  border-radius: 10px;
  color: bisque;
}

.stopbtn{
  background-color: red;
  color: white;
}